{include file="public/meta" /}

<title>Hui.admin v1.0</title>
<!--Hui.admin v1.0-->
<meta name="keywords" content="Hui.admin v1.0">
<meta name="description" content="Hui.admin v1.0">
</head>
<body>
{include file="public/header" /}

{include file="public/menu" /}
<section class="Hui-article-box">
	<div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
		<div class="Hui-tabNav-wp">
			<ul id="min_title_list" class="acrossTab cl">
				<li class="active">
					<span title="我的桌面" data-href="{:url('Index/welcome')}">我的桌面</span>
					<em></em>
				</li>
			</ul>
		</div>
		<div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
	</div>
	<div id="iframe_box" class="Hui-article">
		<div class="show_iframe">
			<div class="loading hide"></div>
			<iframe scrolling="yes" id="Hui-iframe-window" frameborder="0" src="{:url('Index/welcome')}"></iframe>
		</div>
	</div>
</section>

<div class="contextMenu" id="Huiadminmenu">
	<ul>
		<li id="closethis">关闭当前 </li>
		<li id="closeall">关闭全部 </li>
	</ul>
</div>

{tag:adminjs /}

<!-- 请求响应速度S -->
<div id="run-time-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content radius">
			<div class="modal-header">
				<h3 class="modal-title">请求响应速度</h3>
				<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
			</div>
			<div class="modal-body" id="run-time-main" style="width:600px;height:420px;"></div>
		</div>
	</div>
</div>
<input type="hidden" name="response_time_ms" id="response_time_ms"/>
<!-- 请求响应速度E -->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
<script type="text/javascript" src="__ROOT__/js/timerHandler/jquery.timerHandler.min.js"></script>
<script src="__ROOT__/js/echarts/echarts.min.js"></script>

<script type="text/javascript">
// 基于准备好的dom，初始化echarts实例
var runTimeChart = echarts.init(document.getElementById('run-time-main'));
// 指定图表的配置项和数据
var runTimeChartOption = {
    tooltip : {formatter: "{a} <br/>{b} : {c}%"},
    toolbox: {
        feature: {
            restore: {},
            saveAsImage: {}
        }
    },
    series: [{
            name: '请求响应速度',
            type: 'gauge',
            detail: {formatter:'{value}ms'},
            data: [{value: 50, name: '速度毫秒(ms)'}]
	}]
};

$(function(){

	// 初始化页面
	initialize_page();
	$("body").Huitab({
		tabBar:".navbar-wrapper .navbar-levelone",
		tabCon:".Hui-aside .menu_dropdown",
		className:"current",
		index:0,
	});

	// 运行时间
	run_time();
	var RunTime = $.timerHandler('RunTime').time('10s').call(function(count) {
		run_time();
	}).start();
});

</script>
</body>
</html>