{include file="public/meta" /}
<title>权限管理</title>
</head>
<body>
<nav class="breadcrumb">
	{$bread}
	<a class="refresh btn btn-success radius r" href="javascript:location.reload(true);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray">
		<span class="l">
			<a class="btn btn-primary radius" href="{:url('Rule/add')}" >
				<i class="Hui-iconfont">&#xe600;</i> 添加权限
			</a>
		</span>
		<span class="r">共 <span class="badge badge-default radius">{$count}</span> 条数据</span>
	</div>
	<div class="mt-20">
		{include file="public/redirect" /}
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr>
					<th class="text-c" width="40">ID</th>
                    <th>权限名称</th>
                    <th>权限规则</th>
                	<th class="text-c">排　序</th>
                    <th class="text-c">状　态</th>
                    <th class="text-c">操　作</th>
				</tr>
			</thead>
			<tbody>
			{volist name="list" id="vo" empty="$empty_str"}
				<tr>
                    <td class="text-c">{$vo.id}</td>
                    <td>{$vo.title}</td>
                    <td>
						{$vo.name}
                    </td>
                    <td class="width-50 text-c">
	                	<input type="number" value="{$vo.sort}" alt="{$vo.id}" onchange="sorting('{:url('Rule/sorting')}', this)" class="text-c input-text radius">
	                </td>
                    <td class="text-c">{$vo.status}</td>
					<td class="text-c f-14">
						<a title="编辑" href="{:url('Rule/edit', ['id' => $vo['id']])}" class="btn btn-primary radius" data-toggle="tooltip" data-placement="top">
							<i class="Hui-iconfont">&#xe6df;</i>
						</a>
						<a title="删除" href="javascript:;" onclick="delete_info('{:url('Rule/del', ['id' => $vo['id']])}', '权限')" class="btn btn-danger radius" data-toggle="tooltip" data-placement="top">
							<i class="Hui-iconfont">&#xe6e2;</i>
						</a>
					</td>
				</tr>
			{/volist}
			</tbody>
		</table>
	</div>
</div>

{tag:adminjs /}

<!--请在下方写此页面业务相关的脚本-->

</body>
</html>