{include file="public/meta" /}
<title>配置管理</title>
</head>
<body>
<nav class="breadcrumb">
	{$bread}
	<a class="refresh btn btn-success radius r" href="javascript:location.reload(true);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="text-c">
	<form action="{:url('System/configList')}" method="post" id="search">
		<input type="text" name="keywords" id="keywords" value="{$keywords}" placeholder="请输入名称、标识" class="search-input input-text radius">
		<button class="btn btn-success radius" type="button" onclick="search()"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">

			{if condition="get_auth('System/add')"}
				<a class="btn btn-primary radius" href="{:url('System/add')}">
					<i class="Hui-iconfont">&#xe600;</i> 添加配置项
				</a>
			{/if}

			{if condition="get_auth('System/codemirror')"}
				<a class="btn btn-primary radius" href="javascript:;" onclick="parent.code_window('{:url('System/codemirror')}','配置文件','2')">
					<i class="Hui-iconfont">&#xe63e;</i> 配置文件
				</a>
			{/if}

		</span>
		<span class="r">共 <span class="badge badge-default radius">{$count}</span> 条数据</span>
	</div>
	<div class="mt-20">

		{include file="public/redirect" /}

		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="40">ID</th>
					<th width="150">标识</th>
					<th width="150">名称</th>
					<th width="100">类型</th>
					<th width="100">分组</th>
					<th width="150">添加时间</th>
					<th width="100">状态</th>
					<th>排序</th>
					<th width="150">操作</th>
				</tr>
			</thead>
			<tbody>
			{volist name="list" id="vo" empty="$empty_str"}
				<tr class="text-c">
					<td>{$vo.id}</td>
					<td>{$vo.name}</td>
					<td>{$vo.title}</td>
					<td>{$vo.type}</td>
					<td>{$vo.group}</td>
					<td>{$vo.create_time}</td>
					<td>{$vo.status}</td>
                    <td class="width-50">

                    	{if condition="get_auth('System/sorting')"}
	                		<input type="text" value="{$vo.sort}" alt="{$vo.id}" onchange="sorting('{:url('System/sorting')}', this)" class="text-c input-text radius">
	                	{else/}
	                		{$vo.sort}
	                	{/if}

	                </td>
					<td class="f-14">

						{if condition="get_auth('System/edit')"}
							<a title="编辑" href="{:url('System/edit', ['id' => $vo['id']])}" data-toggle="tooltip" data-placement="top">
								<i class="Hui-iconfont">&#xe6df;</i>
							</a>
						{/if}

						{if condition="get_auth('System/del')"}
							<a title="删除" href="javascript:;" onclick="delete_info('{:url('System/del', ['id' => $vo['id']])}','配置项')" class="ml-15" data-toggle="tooltip" data-placement="top">
								<i class="Hui-iconfont">&#xe6e2;</i>
							</a>
						{/if}

					</td>
				</tr>
			{/volist}
			</tbody>
		</table>
		<div class="f-r">
			{:$list->render()}
		</div>
	</div>

</div>

{tag:adminjs /}

<!--请在下方写此页面业务相关的脚本-->

</body>
</html>