@charset "utf-8";a{color:#333}
.maincolor,.maincolor a,a:focus,a:hover{color:#06c}
.navbar{background:#222}
.navbar-logo,.navbar-logo-m,.navbar-slogan,.navbar-userbar{color:#fff}
.navbar-logo-m:hover,.navbar-logo:hover{color:#fff;text-decoration:none}
.navbar-nav>ul>li,.navbar-nav>ul>li>a{color:#fff}
.navbar-userbar>ul>>li,.navbar-userbar>ul>>li>a{color:#fff}
.Hui-aside .menu_dropdown dt{color:#333}
.Hui-aside .menu_dropdown dt:hover{color:#148cf1}
.Hui-aside .menu_dropdown dt:hover [class^=icon-]{color:#7e8795}
.Hui-aside .menu_dropdown li a{color:#666;border-bottom:1px solid #e5e5e5}
.Hui-aside .menu_dropdown li a:hover{color:#148cf1;background-color:#fafafa}
.Hui-aside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{color:#148cf1}
.Hui-aside .menu_dropdown dt .Hui-iconfont{color:#a0a7b1}
.Hui-aside .menu_dropdown dt .menu_dropdown-arrow{color:#b6b7b8}
.dislpayArrow a{background:url(icon_arrow.png) no-repeat 0 0}