{include file="public/meta" /}

<title>发送邮件</title>

</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-email-send">
		<div class="row cl">
			<label class="form-label col-xs-2">选择邮箱：</label>
			<div class="formControls col-xs-10">
				<a href="javascript:;" onclick="select_email_window('{:url('Email/lis')}')" class="btn btn-success radius size-M">
					<i class="Hui-iconfont">&#xe667;</i> 邮箱列表
				</a>
				<input type="hidden" name="emails" id="emails">
				<span class="label label-default radius" id="emails-text"></span>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-2">邮件标题：</label>
			<div class="formControls col-xs-9">
				<input type="text" class="input-text radius" value="" placeholder="请输入邮件标题" id="title" name="title">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-2">上传附件：</label>
			<div class="formControls col-xs-10">
				<a href="javascript:;" class="btn btn-secondary radius size-M" onclick="upload_window('{:url('Common/uploadPage', ['type' => 'attach', 'tag' => 'aid'])}')">
					<i class="Hui-iconfont">&#xe642;</i> 上传文件
				</a>
				<input type="text" class="input-text radius width-50" name="aid" id="aid" placeholder="ID" readonly>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-2">邮件内容：</label>
			<div class="formControls col-xs-10">
				<textarea id="content" name="content" class="size-MINI" style="border:0px;"></textarea>
			</div>
		</div>

		<div class="row cl">
			<div class="col-xs-12 text-c">
				<button class="btn btn-primary radius size-M" type="submit"><i class="Hui-iconfont">&#xe603;</i> 发送邮件</button>
			</div>
		</div>
	</form>
</article>

<!--请在下方写此页面业务相关的脚本-->
{tag:adminjs /}
{tag:ueditor /}
{tag:validatejs /}

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	// 百度编辑器
    window.UEDITOR_HOME_URL = "__ADMIN__/lib/Ueditor/";
    var Ueditor = UE.getEditor('content', {
        initialFrameHeight: 250,
        initialFrameWidth: 670,
        autoFloatEnabled: false,
        autoHeightEnabled:false,
        toolbars: [[
            'fullscreen', 'source', '|', 'undo', 'redo', '|',
            'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|','emotion',
            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
            'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
            'directionalityltr', 'directionalityrtl', 'indent', '|',
            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
            'link', 'unlink',
            'horizontal', 'date', 'time', 'spechars', 'preview', 'searchreplace'
        ]]
    });

    // 邮件信息ajax提交
	$("form").validate({
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'post',
				url: "{:url('Email/send')}",
                beforeSend:function(){
                    index = parent.loading('邮件正在发送中......');
                },
				success: function(result){
                    parent.layer.close(index); // 关闭加载层
					if(result.error == 0){
						layer.msg('邮件发送成功!');
						$("#title").val("");
						Ueditor.setContent('');

						// 发送邮件操作
						log(result.data);
				        $.post("{:url('Email/sendMailer')}", result.data, function(data){
				            log(data);
				        });
					}else{
						layer.msg(result.msg);
					}
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!');
				}
			});
		}
	});

});
</script> 
<!--/请在上方写此页面业务相关的脚本-->

</body>
</html>