{include file="public/meta" /}
<link href="__ROOT__/js/webuploader/webuploader.css" rel="stylesheet" type="text/css" />

<title>发送邮件</title>
{tag:adminjs /}

{tag:ueditor /}

</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-email-send">
		<div class="row cl">
			<p class="pl-15">邮箱地址</p>
			<div class="formControls col-xs-12 col-sm-12" id="mailers"></div>
		</div>
		<div class="row cl">
			<div class="formControls col-xs-12 col-sm-12">
				<input type="text" class="input-text radius" value="" placeholder="请输入邮件标题" id="title" name="title">
			</div>
		</div>
		<div class="row cl">
			<div class="formControls col-xs-12 col-sm-12">
				<div id="Attach"></div>
				<div class="uploader-thum-container">
					<div id="filePicker">
						<i class="Hui-iconfont">&#xe642;</i> 上传附件
					</div>
				</div>
				<input type="hidden" name="aid" id="aid">
			</div>
		</div>
		<div class="row cl">
			<div class="formControls col-xs-12 col-sm-12">
				<textarea id="content" name="content" class="size-MINI" style="border:0px;"></textarea>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-12 col-sm-12 text-c">
				<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe603;</i> 发送邮件</button>
			</div>
		</div>
	</form>
</article>

<!-- 上传进度条 -->
<div id="progress-bar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content radius">
			<div class="modal-body ">
				<p class="text-c">
					<span class="badge badge-default radius" id="percentage"></span>
				</p>
				
				<div class="progress radius" style="margin:20px auto;">
					<div class="progress-bar progress-bar-success">
						<span class="sr-only"></span>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!--请在下方写此页面业务相关的脚本-->
{tag:validatejs /}

<script type="text/javascript" src="__ROOT__/js/webuploader/webuploader.js"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	$("#mailers").Huitags({											// 添加邮箱
		value:"",
		maxlength : 20,
		number : 10,
		tagsDefault : [""],
	});

	var $progressbar = $("#progress-bar"); 							// 上传进度条
	var uploader = WebUploader.create({
		auto: true,													// 选完文件后，是否自动上传
		swf: '__ROOT__/js/webuploader/Uploader.swf', 				// 加载swf文件
		server: "{:url('upload/fileUpload',['type' => 'attach'])}",	// 文件接收服务端
		pick: '#filePicker',										// 选择文件的按钮，可选
	});
    
    uploader.on( 'uploadProgress',function(file,percentage){		// 文件上传过程中创建进度条实时显示
        $progressbar.modal("show");
        $(".sr-only").css("width",percentage * 100 + '%');
        $("#percentage").text(Math.round(percentage * 100) + '%');
    });
	
	uploader.on('uploadSuccess', function(file,response){			// 文件上传成功
		console.log(response);
		if(response.error == 1){
            parent.layer.msg(response.message);
        }else{
        	parent.layer.msg(response.message);
	        $("#aid").val(response.id);
        	$(".uploader-thum-container").hide();
	    	var afterHtml = '';
		    	afterHtml += '<span class="attlist'+response.id+'">';
		    	afterHtml += '<div class="imgDiv">';
		        afterHtml += '<img src="__ROOT__/images/files/'+response.ext+'.png" class="img-responsive thumbnail" style="width:60px;height:60px;">';
		        afterHtml += '<a href="javascript:delete_file('+response.id+',1);" class="delete" title="删除">';
		        afterHtml += '<img src="__ADMIN__/h-ui.admin/images/dialog_del.gif">';
		        afterHtml += '</a>';
		        afterHtml += '</div>';
		        afterHtml += '</span>';
            $('#Attach').append(afterHtml);
        }
	});
	
	uploader.on('uploadError',function(file){						// 文件上传失败
		parent.layer.msg('服务器错误!');
	});
   
    uploader.on('uploadComplete',function(file){					// 完成上传不论成功或失败，删除进度条
    	$progressbar.modal("hide");
    });

	// 百度编辑器
    window.UEDITOR_HOME_URL = "__ADMIN__/lib/Ueditor/";
    var Ueditor = UE.getEditor('content',{
        initialFrameHeight: 250,
        initialFrameWidth: 670,
        autoFloatEnabled: false,
        autoHeightEnabled:false,
        toolbars: [[
            'fullscreen', 'source', '|', 'undo', 'redo', '|',
            'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|','emotion',
            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
            'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
            'directionalityltr', 'directionalityrtl', 'indent', '|',
            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
            'link', 'unlink',
            'horizontal', 'date', 'time', 'spechars', 'preview', 'searchreplace'
        ]]
    });

    // 邮件信息ajax提交
	$("#form-email-send").validate({
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'post',
				url: "{:url('Common/email')}",
                beforeSend:function(){
                    index = parent.layer.msg('邮件正在发送中......',{
                        icon: 16,
                        area: 'auto',
                        shade: 0.04,
                        shadeClose: false,
						time: 0
                    });
                },
				success: function(result){
                    parent.layer.close(index); // 关闭加载层
				    if(result.error == 0){
                        parent.layer.msg('邮件发送成功!');
                        $("#title").val("");
                        Ueditor.setContent('');
					}else{
                        parent.layer.msg(result.msg);
                    }
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					parent.layer.msg('error!');
				}
			});
		}
	});

});

// 清除文件
function delete_file(id){
    if(id.length == 0){
        parent.layer.msg('没有文件可以删除', {icon:0,shade: 0.04,time:1000});
        return false;
	}
    $.ajax({type:'post', url:"{:url('common/deleteFile')}",data:{'id':id},
        success: function(result){
            if(result.error == 0){
            	$("#aid").val("");
            	$(".attlist" + id).remove();
                $(".uploader-thum-container").show();
                parent.layer.msg('附件删除成功！', {icon:1,shade: 0.04,time:1000});
            }else{
                parent.layer.msg('删除失败！', {icon:0,shade: 0.04,time:1000});
            }
        }
    });
}
</script> 
<!--/请在上方写此页面业务相关的脚本-->

</body>
</html>