{include file="public/meta" /}

<title>添加文件夹</title>
</head>
<body>
<div class="page-container">
	<form class="form form-horizontal" id="form-user-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				文件夹名称：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<input type="text" class="input-text" value="" placeholder="" id="folder_name" name="folder_name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">备注信息：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<textarea name="" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符"></textarea>
			</div>
		</div>
		<div class="row cl">
			<div class="col-12 col-offset-12 text-c">
				<input class="btn btn-primary radius size-M" type="submit" value="确认提交">
			</div>
		</div>
	</form>
</div>

{tag:adminjs /}

<!--请在下方写此页面业务相关的脚本-->
{tag:validatejs /}

<script type="text/javascript">
$(function(){
	
});
</script>
</body>
</html>