{include file="public/meta" /}

<link rel="stylesheet" href="__ROOT__/js/zTree_v3/css/zTreeStyle/zTreeStyle.css" type="text/css">

<title>文件管理</title>

</head>
<body>

<div class="page-container">
    <ul id="treeDemo" class="ztree"></ul>
    <iframe id="testIframe" name="testIframe" frameborder="0" scrolling="AUTO" src="{:url('Common/folderAdd')}"></iframe>
</div>
{tag:adminjs /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ROOT__/js/zTree_v3/js/jquery.ztree.core.js"></script> 
<script type="text/javascript">
var setting = {
    view: {
        dblClickExpand: false,
        showLine: false,
        selectedMulti: false
    },
    data: {
        simpleData: {
            enable:true,
            idKey: 'id',
            pIdKey: 'pId',
            rootPId: ''
        }
    },
    callback: {
        beforeClick: function(treeId, treeNode) {
            var zTree = $.fn.zTree.getZTreeObj('tree');
            if (treeNode.isParent) {
                log(treeNode)
                return false;
            } else {
                log(treeNode)
                return true;
            }
        }
    }
};

var zNodes = <?php echo json_encode($list); ?>;
  
$(document).ready(function(){
    $.fn.zTree.init($('#treeDemo'), setting, zNodes);
    var zTree = $.fn.zTree.getZTreeObj('tree');
});
</script>
</body>
</html>