<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>高德地图API地点搜索</title>
    <script type="text/javascript" src="__ROOT__/js/jquery/jquery.min.js"></script> 
    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.3&key=3df877a70685dac5ecb3afa375d4c305&callback=init_map&plugin=AMap.Autocomplete,AMap.PlaceSearch"></script>
    <style type="text/css">
        *{ font-family: "微软雅黑";font-size:14px;color: #222;}
        input{width: 50px;height:25px;}
        .content{margin: 0 auto;text-align: center;}
        .text{ width:200px; height:20px;margin-top: 10px;margin-bottom: 10px;}
        #container{width:100%;height:480px;border:1px solid gray;margin:10px auto;}
        .msg{color: red;padding-top: 10px;}
        #location{text-align: right;}
    </style>
</head>

<body>
	<div class="content">
	    <input id="where" class="text" type="text" placeholder="请输入关键字进行搜索">
	    <input id="lnglat" class="text" type="text" placeholder="经纬度">
	    <input type="button" value="刷新" onclick="location.reload(true);" />
	    <div id="container"></div>
	    <div class="msg">提示：输入地点然后点击“查找”搜索，再点击地图地点设置对应位置信息</div>
	</div>
	{tag:adminjs /}
</body>
</html>