{include file="public/meta" /}

<title>TEST</title>
</head>
<body>
<article class="page-container mt-5">
	<form action="{:url('Common/dotest')}" target="iframe" method="post" class="form form-horizontal text-c" id="for">
		<div class="row cl">
			<div class="formControls col-xs-12 col-sm-12">
				<input type="text" class="input-text radius width-50" id="autoid" name="autoid">
			</div>
		</div>
		<div class="row cl mt-20">
			<div class="col-xs-12 col-sm-12">
				<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存提交</button>
			</div>
		</div>
	</form>
</article>
<iframe width="100%" height="100%" id="iframe" name="iframe" frameborder="0" scrolling="yes"></iframe>
{tag:adminjs /}

<!--请在下方写此页面业务相关的脚本-->

</body>
</html>