{include file="public/meta" /}
<title>文档列表</title>
</head>
<body>
<nav class="breadcrumb">
	{$bread}
	<a class="refresh btn btn-success radius r" href="javascript:location.reload(true);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="text-c">
		<form action="{:url('Document/lis')}" method="post">
			<span class="channel-select select-box radius mr-20">
	            <select name="cid" id="cid" class="select">
	            	<option value="">{$cid ? '显示全部' : '请选择栏目'}</option>
					{volist name="c_list" id="vo"}
					<option value="{$vo.id}" {eq name="vo.model" value="-1"}disabled{/eq}>{$vo.cname}</option>
					{/volist}
	            </select>
			</span>
			日期范围：
			<input type="text" name="datemin" id="datemin" value="{$datemin}" onclick="laydate()" class="input-text radius" readonly>
			-
			<input type="text" name="datemax" id="datemax" value="{$datemax}" onclick="laydate()" class="input-text radius mr-20" readonly>
			<input type="text" name="keywords" value="{$keywords}" placeholder="请输入关键字" class="search-input input-text radius">
			<button class="btn btn-success radius" type="submit" ><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a class="btn btn-primary radius" href="javascript:;" onclick="add_document('{:url('Document/addform')}')">
				<i class="Hui-iconfont">&#xe600;</i> 添加文档
			</a>
			<a class="btn btn-success radius" href="javascript:;" onclick="document_operation('audit','审核文档')" >
				<i class="Hui-iconfont">&#xe615;</i> 审核文档
			</a>
			<a class="btn btn-secondary radius" href="javascript:;" onclick="document_operation('hidden','隐藏文档')" >
				<i class="Hui-iconfont">&#xe631;</i> 隐藏文档
			</a>
			<a class="btn btn-default radius" href="javascript:;" onclick="document_operation('recycling','放入回收站')" >
				<i class="Hui-iconfont">&#xe6e2;</i> 放入回收站
			</a>
		</span>
		<span class="r">
			<form action="{:url('Document/lis')}" method="get">
				共 <span class="badge badge-default radius">{$count}</span> 条数据
				<input type="text" name="page" value="{$Request.get.page}" class="page-input input-text radius ml-10" onkeyup="if(event.keyCode !=37 && event.keyCode != 39)value=value.replace(/\D/g,'')">
				<button class="btn btn-default radius" type="submit">跳转</button>
			</form>
		</span>
	</div>
	<div class="mt-20">
		{include file="public/redirect" /}
		<form action="{:url('Document/docOperation')}" method="post" id="document-form">
			<input type="hidden" name="style" id="style" value="">
			<table class="table table-border table-bordered table-hover table-bg table-sort">
				<thead>
					<tr class="text-c">
						<th><input type="checkbox"></th>
	                    <th>ID</th>
	                    <th>信息标题</th>
	                    <th>栏目分类</th>
	                    <th>栏目模型</th>
	                    <th>点　击</th>
						<th>作　者</th>
	                    <th>发布时间</th>
	                    <th>状　态</th>
	                    <th>操　作</th>
					</tr>
				</thead>
				<tbody>
				{volist name="list" id="vo" empty="$empty_str"}
					<tr class="text-c">
						<td><input type="checkbox" value="{$vo.id}" name="id[]"></td>
	                    <td>{$vo.id}</td>
	                    <td>
	                    	<font color="{$vo.color}">{$vo.topic}</font>
	                    </td>
	                    <td>{$vo.cid|get_channel_name}</td>
	                    <td>{$vo.cid|get_channel_model_name}</td>
	                    <td>{$vo.hits}</td>
	                    <td>{$vo.uid|get_username}</td>
	                    <td>{$vo.create_time}</td>
	                    <td>{$vo.status.1}</td>
	                    <td class="f-14">
							<a onclick="setup_status('{:url('Document/documentStatus',['id'=>$vo['id'],'status'=>$vo['status']['2']])}','{$vo.status.2}')" href="javascript:;" title="状态" data-toggle="tooltip" data-placement="top">
								{eq name="vo.status.2" value="1"}
									<i class="Hui-iconfont">&#xe631;</i>
								{else /}
									<i class="Hui-iconfont">&#xe615;</i>
								{/eq}
							</a>
							<a title="编辑" href="{:url('Document/editform',['cid'=>$vo['cid'],'id'=>$vo['id']])}" class="ml-15" data-toggle="tooltip" data-placement="top">
								<i class="Hui-iconfont">&#xe6df;</i>
							</a>
							<a title="预览" href="javascript:;" class="ml-15" data-toggle="tooltip" data-placement="top">
								<i class="Hui-iconfont">&#xe695;</i>
							</a>
						</td>
					</tr>
				{/volist}
				</tbody>
			</table>
		</form>
		<div class="f-r">
			{:$list->render()}
		</div>
	</div>
</div>

{tag:adminjs /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
$(function(){
	// 初始化
	$("#cid").val('{$cid}');
});
</script>
</body>
</html>