<header class="navbar-wrapper">
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid cl"> 
			<a class="logo navbar-logo f-l mr-10 hidden-xs">Hui.admin</a> 
			<a class="logo navbar-logo-m f-l mr-10 visible-xs">Hui</a> 
			<span class="logo navbar-slogan f-l mr-10 hidden-xs">v1.0</span> 
			<a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs">&#xe667;</a>
			<nav class="nav navbar-nav">
				<ul class="cl">
					<li class="dropDown dropDown_hover"><a href="javascript:;" class="dropDown_A"><i class="Hui-iconfont">&#xe63c;</i>  工具 <i class="Hui-iconfont">&#xe6d5;</i></a>
						<ul class="dropDown-menu menu radius box-shadow">
							<li>
								<a href="javascript:;" onclick="notepad()">
									<i class="Hui-iconfont">&#xe692;</i> 记事本
								</a>
							</li>
							<li>
								<a href="javascript:;" onclick="send_email_window('{:url('Email/send')}')">
									<i class="Hui-iconfont">&#xe68a;</i> 发送邮件
								</a>
							</li>
							<li>
								<a href="javascript:;" onclick="conversion_window('{:url('Conversion/index')}')">
									<i class="Hui-iconfont">&#xe6ab;</i> 文档转换
								</a>
							</li>
							<li>
								<a href="javascript:;" onclick="code_path('{:url('Common/codemirror')}')">
									<i class="Hui-iconfont">&#xe6ee;</i> 查看代码
								</a>
							</li>
							<li>
								<a href="javascript:;" onclick="netpersec_window('{:url('Common/networkSpeed')}')">
									<i class="Hui-iconfont">&#xe682;</i> 检测网速
								</a>
							</li>
							<li>
								<a href="javascript:;" onclick="positioning_window('{:url('Common/positioning')}')">
									<i class="Hui-iconfont">&#xe671;</i> 地图定位
								</a>
							</li>
							<li>
								<a href="{:url('Common/shortcut')}">
									<i class="Hui-iconfont">&#xe640;</i> 快捷方式
								</a>
							</li>
						</ul>
					</li>
					<li>
						<span class="label label-default radius" title="客户端操作系统">
							<i class="Hui-iconfont">&#xe64f;</i> <span id="plat-form">...</span>
						</span>
						<a href="javascript:;" onclick="run_time_window()">
							<span class="label label-default radius" id="run-time-box" title="请求响应速度">
								<i class="Hui-iconfont">&#xe728;</i> <span id="run-time">...</span>
							</span>
						</a>
					</li>
				</ul>
			</nav>
			<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
				<ul class="cl">

					<li>{:get_user_role(session('uid'))}</li>
					
					<li class="dropDown dropDown_hover"> <a href="#" class="dropDown_A"><i class="Hui-iconfont f-16">&#xe653;</i> {$session_uname} <i class="Hui-iconfont">&#xe6d5;</i></a>
						<ul class="dropDown-menu menu radius box-shadow">
							<li>
								<a href="javascript:;" onclick="clear_cache('{:url('Ajax/clearCache')}')">清除缓存</a>
							</li>
							<li>
								<a href="javascript:;" onclick="personal_window('{:url('Common/userSetup')}','账号设置')">个人信息</a>
							</li>
							<li>
								<a href="{:url('home/index/index')}" target="_blank">网站首页</a>
							</li>
							<li>
								<a href="{:url('Login/logout')}">退出登录</a>
							</li>
						</ul>
					</li>
					
					<li id="Hui-msg"> 
						<a href="javascript:;" title="消息">
							<span class="badge badge-danger" id="message-count">0</span>
							<i class="Hui-iconfont f-16">&#xe62f;</i>
						</a>
					</li>

					<li id="Hui-skin" class="dropDown right dropDown_hover"> <a href="javascript:;" class="dropDown_A" title="换肤"><i class="Hui-iconfont f-16">&#xe62a;</i></a>
						<ul class="dropDown-menu menu radius box-shadow">
							<li><a href="javascript:;" data-val="default" title="默认（黑色）">默认（黑色）</a></li>
							<li><a href="javascript:;" data-val="blue" title="蓝色">蓝色</a></li>
							<li><a href="javascript:;" data-val="green" title="绿色">绿色</a></li>
							<li><a href="javascript:;" data-val="red" title="红色">红色</a></li>
							<li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>
							<li><a href="javascript:;" data-val="orange" title="橙色">橙色</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>