<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-channel">
			<dt><i class="Hui-iconfont">&#xe681;</i> 栏目导航<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('Channel/lis')}" data-title="栏目管理" href="javascript:void(0)">栏目管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-document">
			<dt><i class="Hui-iconfont">&#xe616;</i> 文档管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('Document/lis')}" data-title="全部文档" href="javascript:void(0)">全部文档</a></li>
					<li><a data-href="{:url('Document/recyclebin')}" data-title="回收管理" href="javascript:void(0)">回收管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-models">
			<dt><i class="Hui-iconfont">&#xe72d;</i> 模型管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('Models/lis')}" data-title="文档模型" href="javascript:;">文档模型</a></li>
					<li><a data-href="{:url('Doc/lis')}" data-title="文档属性" href="javascript:void(0)">文档属性</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-user">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('User/lis')}" data-title="管理员列表" href="javascript:void(0)">管理人员</a></li>
					<li><a data-href="{:url('Group/lis')}" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
					<li><a data-href="{:url('Rule/lis')}" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-conf">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('System/websetup',['group'=>2])}" data-title="网站配置" href="javascript:void(0)">网站配置</a></li>
					<li><a data-href="{:url('System/websetup',['group'=>3])}" data-title="接口配置" href="javascript:void(0)">接口配置</a></li>
					<li><a data-href="{:url('System/websetup',['group'=>4])}" data-title="文件配置" href="javascript:void(0)">文件配置</a></li>
					<li><a data-href="{:url('System/config')}" data-title="配置管理" href="javascript:void(0)">配置管理</a></li>
					<li><a data-href="{:url('Logs/lis')}" data-title="系统日志" href="javascript:void(0)">系统日志</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-dbmanage">
			<dt><i class="Hui-iconfont">&#xe639;</i> 数据管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('Dbmanage/lis')}" data-title="数据库字典" href="javascript:void(0)">数据库字典</a></li>
					<li><a data-href="{:url('Dbmanage/backlist')}" data-title="数据库备份" href="javascript:void(0)">数据库备份</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-files">

			<dt><i class="Hui-iconfont">&#xe63e;</i> 文件管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('Files/uploadFile')}" data-title="上传文件" href="javascript:;">上传文件</a></li>
					<li><a data-href="{:url('Files/conversionFile')}" data-title="转换文档" href="javascript:;">转换文件</a></li>
					<li><a data-href="{:url('Files/exportFile')}" data-title="导出文件" href="javascript:;">导出文件</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>