{include file="public/meta" /}
<title>角色管理</title>
</head>
<body>
<nav class="breadcrumb">
	{$bread}
	<a class="refresh btn btn-success radius r" href="javascript:location.reload(true);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="text-c">
	<form action="{:url('Group/lis')}" method="post" id="search">
		<input type="text" name="keywords" id="keywords" value="{$keywords}" placeholder="请输入名称" class="search-input input-text radius">
		<button class="btn btn-success radius" type="button" onclick="search()"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		{if condition="get_auth('Group/add')"}
			<span class="l">
				<a class="btn btn-primary radius" href="{:url('Group/add')}" >
					<i class="Hui-iconfont">&#xe600;</i> 添加角色
				</a>
			</span>
		{/if}
		<span class="r">共 <span class="badge badge-default radius">{$count}</span> 条数据</span>
	</div>
	<div class="mt-20">
		{include file="public/redirect" /}
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
	                <th width="40">ID</th>
	                <th>角色名称</th>
	                <th>状　态</th>
	                <th>操　作</th>
				</tr>
			</thead>
			<tbody>
			{volist name="list" id="vo" empty="$empty_str"}
				<tr class="text-c">
                    <td>{$vo.id}</td>
                    <td>{$vo.title}</td>
                    <td>{$vo.status}</td>
					<td class="f-14">

						{if condition="get_auth('Group/edit')"}
							<a title="编辑" href="{:url('Group/edit', ['id' => $vo['id']])}" data-toggle="tooltip" data-placement="top">
								<i class="Hui-iconfont">&#xe6df;</i>
							</a>
						{/if}

						{if condition="get_auth('Group/del')"}
							<a title="删除" href="javascript:;" onclick="delete_info('{:url('Group/del', ['id' => $vo['id']])}', '角色')" class="ml-15" data-toggle="tooltip" data-placement="top">
								<i class="Hui-iconfont">&#xe6e2;</i>
							</a>
						{/if}

					</td>
				</tr>
			{/volist}
			</tbody>
		</table>
	</div>
</div>

{tag:adminjs /}

<!--请在下方写此页面业务相关的脚本-->

</body>
</html>