{volist name="list" id="vo" empty="$empty_str"}
	<tr>
		<td class="text-c"><input type="checkbox" value="{$vo.id}" name="id[]"></td>
		<td class="text-c">{$vo.id}</td>
		<td class="text-c">{$vo.username}</td>
		<td class="text-c">{$vo.ip}</td>
		<td>{$vo.operate}</td>
		<td class="text-c">{$vo.time}</td>
		<td class="text-c">{$vo.status}</td>
		<td class="text-c f-14">
			{if condition="get_auth('Logs/del')"}
				<a title="删除" href="javascript:;" onclick="del_logs('{:url('Logs/del', ['id' => $vo['id']])}')" class="ml-10" data-toggle="tooltip" data-placement="top">
					<i class="Hui-iconfont">&#xe6e2;</i>
				</a>
			{/if}
		</td>
	</tr>
{/volist}