{include file="public/meta" /}

<title>文档转换</title>
</head>

<body>
<div class="page-container">

	<form class="form form-horizontal" id="form-conversion">
		<div class="panel panel-default mt-10">
			<div class="panel-header"><i class="Hui-iconfont">&#xe647;</i> 完善表单内容</div>
			<div class="panel-body">

				<small>目前只支持Office各种格式文档（不包含PDF文件）转换PDF和SWF</small>

				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">转换格式：</label>
					<div class="formControls col-xs-8 col-sm-8">
						<span class="select-box radius">
							<select name="format" id="format" class="select">
								<option value="">请选择转换的格式</option>
								<option value="1">PDF</option>
								<option value="2">SWF</option>
							</select>
						</span>
					</div>
				</div>

				<div class="row cl mb-20">
					<label class="form-label col-xs-4 col-sm-2">上传文件：</label>
					<div class="formControls col-xs-8 col-sm-10">
						<a href="javascript:;" class="btn btn-secondary radius size-M" onclick="upload_window('{:url('Common/uploadPage', ['type' => 'office', 'tag' => 'id'])}')">
							<i class="Hui-iconfont">&#xe642;</i> 选择文件
						</a>
						<input type="text" class="input-text radius width-50" name="id" id="id" placeholder="ID" readonly>
					</div>
				</div>

			</div>
		</div>

		<div class="cl text-c mt-40">
			<button class="btn btn-primary radius" type="submit">
				<i class="Hui-iconfont">&#xe726;</i> 转换文件
			</button>
			<button class="btn btn-default radius ml-40" onclick="open_window('{:url('Conversion/lis')}', 1024, 720, 0);" type="button">
				<i class="Hui-iconfont">&#xe667;</i> 文件列表
			</button>
		</div>

	</form>

</div>

{tag:adminjs /}

<!--请在下方写此页面业务相关的脚本-->

{tag:validatejs /}

<script type="text/javascript">
$(function(){
	// 表单验证Ajax提交
	$("#form-conversion").validate({
		rules:{
			format:{required:true},
			id:{required:true},
		},
		messages:{
		  	format:{required: "请选择转换的格式"},
		  	id:{required: "文件参数缺失"},
		},
		onkeyup:false,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'post',
				url: "{:url('Conversion/fileConversion')}",
                beforeSend:function(){
                    index = loading('正在转换文件，请耐心等待......');
                },
				success:function(result){
					console.log(result);
                    layer.close(index); // 关闭加载层
				    if(result.error == 0){
                        layer.msg('文件转换成功！',{
                            time: 0,
							btn: ['确认并清除原文件'],
							yes: function(ts){
                                layer.close(ts);
                            }
                        });
					}else{
                        layer.msg(result.msg);
                    }
				},
                error:function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('server error!');
				}
			});
		}
	});

});
</script>
</body>
</html>