<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="__ROOT__/js/jquery/jquery.js"></script>
        <script type="text/javascript" src="__ROOT__/js/pjax.js"></script>
        <title>pjax</title>
    </head>
<body>
<a href="{:url('Demo/test1')}">test1</a>
<a href="{:url('Demo/test2')}">test2</a>
<div id="contents"></div>

<script type="text/javascript">
	$(document).pjax('a', '#contents', {
		fragment:'#contents',
		timeout:8000
	});
	$(document).on('pjax:send', function(argument) { // 点击a链接
		console.log('send')
	});
	$(document).on('pjax:complete', function(argument) { // pjax链接加载完成
		console.log('complete')
	});
</script>
</body>
</html>