<!DOCTYPE html>
<html>

<head>
    <title>jQuery Pjax</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="__ROOT__/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="__ROOT__/js/pjax/jquery.pjax.js"></script>
</head>

<body>
	<h3>jQuery timerHandler</h3>
	<p id="container"></p>
	<script type="text/javascript">
		/**
		  * 方式一 按钮父节点监听事件
		  *
		  * @param selector  触发点击事件的按钮
		  * @param container 展示刷新内容的容器，也就是会被替换的部分
		  * @param options   参数
		  */
		$(document).pjax(selector, [container], options);

		// 方式二 直接对按钮监听，可以不用指定容器，使用按钮的data-pjax属性值查找容器
		$("a[data-pjax]").pjax();

		// 方式三 常规的点击事件监听方式
		$(document).on('click', 'a', $.pjax.click);
		$(document).on('click', 'a', function(event) {
		    var container = $(this).closest('[data-pjax-container]');
		    $.pjax.click(event, container);
		});

		// 下列是源码中介绍的其他用法，由于本人暂时没有那些需求暂时没深究，有兴趣的各位自己试试看哈
		// 表单提交
		$(document).on('submit', 'form', function(event) {
		    var container = $(this).closest('[data-pjax-container]');
		    $.pjax.submit(event, container);
		});
		// 加载内容到指定容器
		$.pjax({ url: this.href, container: '#main' });
		// 重新当前页面容器的内容
		$.pjax.reload('#container');
	</script>
</body>
</html>